.app {
  background-color: rgb(112, 173, 226);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.cloud{
  background-image: url('./assets/cloudy.jpg');
}
.app.clear{
  background-image: url('./assets/sky.jpg');
}
.app.mist{
  background-image: url('./assets/mist.jpg');
}
.app.snow{
    background-image: url('./assets/snow.jpg');
}
.app.rain{
  background-image: url('./assets/rain.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}
